#header12-1t, #header12-18{
    padding: 5% 7%;
}

.icons-media-container.mbr-white{
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#marcas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    }


@media (max-width: 760px) {
    .icons-media-container.mbr-white{
        grid-template-columns: repeat(2,1fr);
    }
    #marcas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        }
    .imageLoading{
        width: 25%
    }
    
}
.whatsapp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    border: 3px solid green;
    border-radius: 50%;
    transition-duration: 0.5s;
    font-size: 40px;
    text-decoration: none;
    color: green;
    background-color: #FFF;
    -webkit-box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
    box-shadow: 0 4px 5px -1px rgba;
}


._uwr {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#prueba{
    width: 80%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}


.card{
    margin: 5%
}

#catalog-div h5{
    font-size: 1em;
    line-height: 1.618em;
}
 
#catalog-div p{
    font-size: 1em;
}

@media all and (min-width: 960px) {
    #catalog-div{
        font-size: 18px;
    }

}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    #catalog-div{
        font-size: 16px;
    }
    #prueba{
        grid-template-columns: repeat(4,1fr);
    }
}
 
@media all and (max-width: 599px) and (min-width: 320px) {
    #catalog-div{
        font-size: 12px;
    }
    #catalog-div h5{
        display:none;
    }
    #prueba{
        grid-template-columns: repeat(3,1fr);
    }
 
}

